.wave {
  float: left;
  margin: 20px;
  transform-origin: center -36px;
  animation: wave ease-in-out .9s infinite alternate;
  animation-play-state: paused;
}

.wave:hover {
  animation-play-state: running;
}

.wave img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 535px;
  height: 400px;
}

.wave:after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px;
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}

.wave:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}

@keyframes wave {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
