.about-div {
  @media (max-width: 999px) and (max-height: 800px) {
    height: 60%!important;
  }
  @media (min-height: 1350px) {
    height: 60%!important;
  }
}

#about {
  @media (min-width: 1024px) and (max-height: 820px) {
    height: 55vh!important;
  }
  @media (min-width: 1350px) and (min-height: 1024px) {
    height: 50vh!important;
  }
  @media (min-height: 999px) and (max-height: 1024px) {
    margin: 5.5rem;
  }
  @media (min-height: 1350px) {
    display: flex;
    align-items: center;
    height: 600px;
  }
}
