#contact {
  @media (max-height: 450px) {
    margin-top: 60rem;
  }

  @media (max-width: 320px) and (min-height:451px) and (max-height: 568px) {
    margin-top: 35rem;
  }

  @media (min-width: 1024px) and (min-height: 569px) and (max-height: 811px) {
    margin-top: 10rem;
  }

  @media (min-height: 1300px) {
    height: 56vh;
  }
}

[type='text']:focus, [type='email']:focus, [type='textarea']:focus, textarea:focus {
  --tw-ring-color: pink !important;
  border-color: pink !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
}