input:focus-visible, textarea:focus-visible {
  outline: pink auto 2px;
  outline-offset: 4px;
  border: 1px solid pink;
}

#contact {
  @media (width: 320px) and (height: 568px) {
    margin-top: 34rem;
  }

  @media (width: 375px) and (height: 667px) {
    margin-top: 24rem;
  }

  @media (width: 375px) and (height: 812px),
         (width: 390px) and (height: 844px),
         (width: 414px) and (height: 896px),
         (width: 768px) and (height: 1024px),
         (width: 1366px) and (height: 1024px) {
    margin-top: 14rem;
  }

  @media (width: 414px) and (height: 736px) {
    margin-top: 22rem;
  }

  @media (width: 568px) and (height: 320px),
         (width: 667px) and (height: 375px),
         (width: 736px) and (height: 414px) {
    margin-top: 48rem;
  }

  @media (width: 820px) and (height: 1180px) {
    margin-top: 8rem;
  }

  @media (width: 812px) and (height: 375px),
         (width: 844px) and (height: 390px),
         (width: 896px) and (height: 414px) {
    margin-top: 55rem;
  }
  @media (min-height: 1300px) {
    height: 56vh;
  }
}
