.slider {
  width: -webkit-fill-available;
  padding-bottom: 3rem;
}

.slick-prev, .slick-next {
  z-index: 100;
  font-size: 11px; /* Ensure minimum font size */
  @media (min-width: 500px) {
    top: 35%!important;
  }
}

.slick-prev:before {
  position: relative;
  left: 3.5rem;
  font-size: 2rem!important;
}

.slick-next:before {
  position: relative;
  right: 4rem;
  font-size: 2rem!important;
}

.slick-dots li.slick-active button:before {
  color: white!important;
}

.slick-dots li button:before {
  color: white!important;
  font-size: 12px!important; /* Ensure minimum font size for dot content */
}

.slick-dots {
  display: flex!important;
  justify-content: center!important;
  position: static!important;
}

.slick-dots {
  bottom: 65px!important;
  @media (max-height: 600px) {
    bottom: 100px!important;
  }
  @media (min-height: 601px) and (max-height: 850px) {
    bottom: 30px!important;
  }
  @media (min-height: 851px) and (max-height: 900px) {
    bottom: 50px!important;
  }
}

#projects {
  @media (min-width: 1350px) and (min-height: 1024px) {
    height: 60vh!important;
  }
}
