html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(3 7 18);
  overflow: hidden;
}

.link:after {
  display:block;
  content: '';
  width: inherit;
  border-bottom: solid 2px pink!important;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
